nav {
	padding: 1rem;
}
nav a {
	margin-right: 1em;
	text-decoration: none;
}
form {
	padding: 1em;
}
form label {
	margin-right: 0.25em;
}
.form-group {
	margin-bottom: 0.5em
}
.flex {
	display: flex;
}
.align-center {
	align-items: center;
}
.text-capitalize {
	text-transform: capitalize;
}

.student-card {
	box-shadow: 0 2px 2px 1px rgba(000,000,000,0.5);
	padding: 1rem;
	margin-right: 1.25rem;
}
